/* Hello my name is Francisco Greenaway. This css file is just to add style to my page. Very basic but clean. */
body {
    background-color: white;
    text-align: center;
}
h1,h2,h3{
    color:red
}
p {
    color:green
}
#scholarships {
    color:green
}
ul {
  list-style-position: inside;
}